body{
  background-color: #EFEFEF;
}
a,p, blockquote,label,input,li {
    font-family: Arial, Helvetica, sans-serif ,'Kh_content';
}
a,h3,h4{
  color: #ad7e2c;
}
.traju-color{
  color: #ad7e2c;
}
h1,h2,h3,h4,h5{
    font-family: Arial, Helvetica, sans-serif ,'Kh_content';
    line-height: 1.7em;
    
}
tiny,td.tiny,tr.tiny,label.tiny,
span.tiny,input.tiny,a.tiny
{
  font-size: 0.6em; }
small,td.small,tr.small,th.small,label.small,span.small,input.small,a.small,
button.small
{
  font-size: 0.8em; }

p{
  text-align: left;
}

iframe{
  width: 100%;
}
.post-thumb{
  max-width: 100%;
  max-height: 150px !important;
}
.banner{
  background: #af833c;
  
}
.big-banner{
  background: #af833c;
  border-bottom: 15px solid #5a2e2d;
  margin-bottom: 0px;
}
blockquote {
  color: #2196f3;
  font-weight: bold;
}

.big-menu
{
	background: white;
	color: #333;
	border-radius: 5px;
	box-shadow: 0px 1px 3px #bbb;
  padding-bottom: 10px;
  margin-top: 10%;
	margin-bottom: 10%;
}
blockquote > p{
  color: #2196f3;
  font-weight: bold;
}
.post-thumb a span {
	color: #2196f3;
}
header{
  background: #ad7e2c;
}
footer{
  border-top: 6px solid #5a2e2d;
  margin: 0;
	text-align: center;
	background: #ad7e2c;
	padding: 10px;
	color: white;
}

.index-post{
	background: white;
	border-radius: 5px;
	box-shadow: 0px 1px 3px #bbb;
	padding: 0px 10px;
	margin: 10px 0px;
}
.content-area{
	background:#EFEFEF;
}
.post-block table{
  width: 100%;
}

.post-block table a{
  font-size: 1em;
}
.navigation ul li a{
  line-height: 1.5em;
}
a i{
  color: #5a2e2d;
}
.desktop-menu li{
  padding: 0px;
}
.is-dropdown-submenu{
  min-width: 250px;
}
.kh-content{
  font-family: 'Kh_content';
}
.kh-moullight, li.kh-moullight, a.kh-moullight{
  font-family: Arial, Helvetica, sans-serif ,'Kh_MuolLight';
}
.my-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    color: black !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
    
  
    transition: background-color 300ms ease-out;
}
.y-scroll{
  height: 500px;
  overflow: auto;
}
.salatraju{
  background-color: #ad7e2c;
  font-family: "Kh_content";
}
.traju-text-color{
 color: #430303 !important;
}
.border-traju{
  border-color: #5a2e2d !important;
}
#navigate div{
  float: left;
}
#navigate div i{
  font-size: 18px;
}
#listkrom a{
  white-space: break-spaces;
}